.header {
  background-color: var(--inputs);
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.headerContainer {
  display: flex;
  align-items: center;
}
.logo {
  background-color: var(--inputs);
  transition:
    transform 250ms ease,
    opacity 250ms ease;
}
.logo:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.navigation {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
.link {
  padding: 28px 0;
  transition: color var(--cubic-btn);

  transition:
    color var(--cubic-btn),
    transform 250ms ease;
}

.link:hover {
  color: var(--text);
  transform: scale(1.05);
}

.active {
  color: var(--grey-green);
  transition:
    color var(--cubic-btn),
    transform 250ms ease;
}
.active:hover {
  color: var(--green-hover);
  transform: scale(1.05);
}
.icons {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.sun {
  display: none;
  background-color: var(--inputs);
  color: var(--main);
  transition:
    transform 250ms ease,
    color var(--cubic-btn);
}
.sun:hover {
  transform: scale(1.1);
  color: var(--icon-hover);
}
.cloud {
  transition:
    transform 250ms ease,
    color var(--cubic-btn);
  display: block;
}
.cloud:hover {
  transform: scale(1.1);
  color: black;
}
:global([data-theme="dark"]) .sun {
  display: block;
}

:global([data-theme="dark"]) .cloud {
  display: none;
}
