.header {
  background-color: var(--inputs);
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.logo {
  background-color: var(--inputs);
  transition:
    transform 250ms ease,
    opacity 250ms ease;
}
.logo:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.navigation {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
.link {
  padding: 28px 0;
  transition: color var(--cubic-btn);
}

.link:hover {
  color: var(--text);
}

.active {
  color: var(--grey-green);
  transition: color var(--cubic-btn);
}
.active:hover {
  color: var(--green-hover);
}
