.gallery {
  max-width: 638px;
  width: 100%;
}
.main-img {
  margin-bottom: 27px;
  border-radius: 17px;
}
.prew-img {
  border-radius: 16px;
}

.main-img :global(.swiper-button-next),
.main-img :global(.swiper-button-prev) {
  color: var(--grey-green);
}
.prew-img {
  opacity: 0.5;
  transition:
    opacity 250ms ease,
    filter 250ms ease;
}
:global(.swiper-slide-thumb-active) .prew-img {
  opacity: 1;
  filter: blur(0);
}
