.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: var(--inputs);
  border-radius: 16px;
}
.img {
  max-width: 219px;
  min-height: 240px;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info {
  max-width: 524px;
  width: 100%;
}
