.button {
  padding: 16px 49px;
  background-color: var(--grey-green);
  border-radius: 200px;
  letter-spacing: -0.01em;
  color: var(--white);
  display: inline-block;
  width: fit-content;
  transition:
    background-color var(--cubic-btn),
    transform var(--cubic-btn);
}
.button:hover {
  background-color: var(--green-hover);
  transform: scale(1.05);
}
