.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  background-color: var(--white);
}

.icon {
  display: flex;
  align-items: center;
}
