.form {
  padding: 44px 57px;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  max-width: 641px;
  min-height: 382px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.subtitle {
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 24px;
}
.form-inputs {
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 24px;
}

.name,
.email {
  padding: 18px;
  width: 100%;
  background-color: var(--inputs);
  border-radius: 12px;
  border: none;
}
.button {
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  width: 100%;
  background-color: var(--grey-green);
  padding: 16px 0;
  border-radius: 200px;
  transition: background-color var(--cubic-btn);
}
.button:hover {
  background-color: var(--green-hover);
}
.error {
  color: var(--button);
}
.inputWrapper {
  position: relative;
  margin-bottom: 14px;
}
.inputError {
  border: 1px solid var(--button);
  background-color: #ffdfdf;
}
.errorIcon {
  position: absolute;
  right: 18px;
  top: 38%;
  transform: translateY(-50%);
  color: #e44848;
  font-size: 20px;
}
