.form {
  padding: 44px 57px;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  max-width: 641px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.subtitle {
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 24px;
}
.form-inputs {
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 24px;
}

.name,
.email {
  padding: 18px;
  width: 100%;
  background-color: var(--inputs);
  border-radius: 12px;
  border: none;
}
.name:focus,
.email:focus {
  outline: 2px solid var(--grey-green);
  outline-offset: 2px;
}
.button {
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  width: 100%;
  background-color: var(--grey-green);
  padding: 16px 0;
  border-radius: 200px;
  transition:
    background-color var(--cubic-btn),
    transform var(--cubic-btn);
}
.button:hover {
  background-color: var(--green-hover);
  transform: scale(1.05);
}
.error {
  color: var(--error);
}
.inputWrapper {
  position: relative;
  margin-bottom: 14px;
}
.inputError {
  border: 1px solid var(--button);
  background-color: var(--error-light);
}
.inputError:focus {
  outline: none;
}
.errorIcon {
  position: absolute;
  right: 18px;
  top: 38%;
  transform: translateY(-50%);
  color: var(--error);
  font-size: 20px;
}
.label {
  position: absolute;
  left: 18px;
  top: 18px;

  color: var(--gray);
  pointer-events: none;

  transition:
    top 0.2s ease,
    font-size 0.2s ease,
    background-color 0.2s ease;
}

.name:focus + .label,
.email:focus + .label,
.name:not(:placeholder-shown) + .label,
.email:not(:placeholder-shown) + .label {
  top: -8px;
  font-size: 12px;
  padding: 0 4px;
  background-color: var(--inputs);
  border-radius: 8px;
}

.inputError + .label {
  background-color: var(--error-light);
  color: var(--error);
}
